
$h-font: "proxima-nova", sans-serif;

body, html{
  background:black;
  font-family:arial;
  font-size:16px;
  font-family: $h-font;
}

h1,h2,h3,h4,h5{
  font-family:$h-font;
  font-weight: bold;
}

*{
  box-sizing: border-box;
}

p{
  padding:0;
}

.bg-fixed-img{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:0;

  background-size:cover;
}

.buy-tickets{
  color:white;
  position:relative;
  height:2000px;
  width:100%;
  background: rgba(0,0,0,.5);
  z-index:2;

  .wrapper{
    max-width:1100px;
    padding:140px 30px;
    margin:0 auto;

    header.section-title{
      h2{
        font-size: 1.2em;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        border-top:1px solid white;
        padding-top:20px;
      }
    }
  }

  &__tickets{
    float:right;

    p{
      padding-top:0;
      margin-top:-8px;
      font-weight: 100;
      font-size:1.6em;
      line-height: 1.4em;
    }
  }
}

.hero{
  position: relative;
  width:100%;
  z-index: 2;
  background:black url('assets/images/d_bg-image.jpg');

  img{
  }

  .tagline{
    font-size:3.6em;
    color:white;
    top:0;
    padding:20px 15px;
    text-align: center;
    width:100%;
    margin-bottom:30px;
    background: rgba(0,0,0,.5);
  }


  .video-btn{
    position:absolute;
    height:80px;
    width:80px;
    top:50%;bottom:50%;
    left:50%;right:50%;
    margin-left:-40px;
    margin-top:-40px;
    background:#6d6d6d;
    border-radius:50%;
    transform: scale(1);
    transition: transform .45s ease-in-out;
    outline: none !important;

    i{
      position:absolute;
      left:50%;
      right:50%;
      top:50%;
      bottom:50%;
      margin-top:-15px;
      margin-left:-7px;
      border-bottom: 15px solid transparent;
      border-top: 15px solid transparent;

      border-left: 20px solid white;
    }
  }
  &--animate{
    .video-btn{
      transform: scale(1.2);
    }
  }
}

.social-links{
  position:relative;
  text-align: center;
  margin-bottom: 20px;

  &__link{
    position: relative;
    display: inline-block;
    width:50px;
    height:50px;
    margin-right:10px;
    overflow:hidden;
    border-radius:50%;
    padding:15px;
    background:white;

    &__svg{
      fill:black;
    }

    &:hover{

      &:after{
        transform:translateX(0);
      }

    }

    &:last-child{
      i{
        padding-top:2px;
      }
    }

  }
}

.contact-btn{
  display:none;
  background:none;
  border:none;
  padding:18px 55px 17px 40px;
  border-radius:30px;
  text-align:center;
  color:black;
  font-size:1.2em;
  position:relative;
  bottom:50px;
  right:50px;
  background:white;
  text-transform: uppercase;
  font-family: $h-font;
  letter-spacing: 0.06em;


  i{
    position:absolute;
    right:30px;
    width:20px;
    height:20px;
    // background:white;
    color:white;
    transform-origin: center center;
    transform:rotate(-90deg);
    top:18px;

    transition: transform .25s ease-in-out;
  }

  &--active{
    i{
      transform:rotate(90deg);
    }
  }

  &:hover{
  }
}

.contact-details{
  opacity: 1;
  position: relative;
  width:100%;
  padding:20px 20px 10px 20px;
  transform:translateY(10px);
  margin-bottom:40px;

  transition: transform .25s ease-in-out, opacity .25s ease-in-out;

  &__link{
    position: relative;
    display:block;
    width:100%;
    height:50px;
    font-size:1.4em;
    text-decoration:none;
    color:white;
    letter-spacing: 0.04em;

    &:hover{
      p::after{
        transform: translateX(0);
      }
    }

    &:nth-child(2){
      border-bottom:none;
      margin-top:10px;
    }

    div{
      display:block;
      clear:both;
      height:22px;
    }


    h4{
      text-align: center;
      padding:4px 0 0 0px;
      color:#b7b7b7;
      font-size:0.6em;
      text-transform: uppercase;
    }

    p{
      position:relative;
      color:white;
      display: block;
      text-align: center;
      font-size:1.1em;
      overflow:hidden;
      padding-bottom:4px;

      &:after{
        content:"";
        position:absolute;
        bottom:0px;
        left:0;
        height:1px;
        width:100%;
        background:black;
        transform: translateX(-105%);

        transition: transform .25s ease-in-out;
      }
    }
  }

  &:after{
    display: none;
    content:"";
    position:absolute;
    bottom:-15px;
    left:50%;
    right:50%;
    margin-left:-18px;

    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 16px solid black;

  }
}


@media screen and (min-width:766px){

  .buy-tickets{
    .wrapper{
      header.section-title{
        width:20%;
        float:left;
        height:100px;
      }
    }
    &__tickets{
      padding-left:15%;
      width:80%;
      float:right;
      height:100px;
    }
  }
  body,html{
    background:black;
  }

  .hero{
    height:100vh;
    // background:url('assets/images/bike-battle-hero.jpg');
    background-size:cover;
    background-position: center center;

    img{
      display:none;
    }

    .tagline{
      position: absolute;
      font-size:2.4em;
      margin-bottom:5px;
      color:white;
    }
  }
  .contact-btn{
    display: block;
    position: absolute;

    i{
      color:black;
    }
  }

  .social-links{
    position:fixed;
    left:40px;
    bottom:55px;
    margin-bottom:0;

    &__link{
      float:left;
      background:white;

      &__svg{
        fill:black;
      }

      i{

      }
    }
  }

  .contact-details{
    position: fixed;
    opacity:0;
    bottom:135px;
    right:30px;
    width:200px;
    background:white;
    margin-bottom:0;

    &:after{
      border-top: 20px solid white;
    }

    &--visible{
      transform:translateY(0);
      opacity: 1;
    }

    p{
      text-align: left;
      font-size:0.8em;
      float:left;
      color:black;
    }

    &__link{
      border-bottom:1px solid #efefef;
    }

    h4{
      float:left;
    }


    &:after{
      display: block;
    }
  }
}


@media screen and (min-width:1100px){
  .hero{
    .tagline{
      font-size:2em;
      margin-bottom:0;
    }
  }
}
